.DS_Store
result
.direnv/
**/.env
**/.env.*
!**/.env.example
**/env/dec/*
!**/env/dec/.gitignore
!**/env/dec/README.md
**/dist/
**/.scintilla/
**/.ores-stack/
**/target/
**/node_modules/
**/.local-age/
workloads/*/generated/*
!workloads/*/generated/README.md
.tools/
.result
